In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Starter_Code/PyCitySchools/Resources/schools_complete.csv"
student_data_to_load = "Starter_Code/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [32]:
# Calculate the total number of unique schools
school_total = school_data["school_name"].nunique()
school_total

15

In [33]:
# Calculate the total number of students
student_count = student_data["student_name"].value_counts()
student_count

Michael Smith        26
David Johnson        16
Michael Williams     16
David Smith          15
Daniel Johnson       14
                     ..
Donna Ellison         1
Angelica Curry        1
Peter Kaiser          1
Jeanne Fischer MD     1
John White DVM        1
Name: student_name, Length: 32715, dtype: int64

In [34]:
student_total = student_count.sum()
student_total

39170

In [35]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [36]:
# Calculate the average (mean) math score
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [37]:
# Calculate the average (mean) reading score
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [38]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_total) * 100
passing_math_percentage

74.9808526933878

In [39]:
# Calculate the percentage of students who passeed reading
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage =  passing_reading_count / float(student_total) * 100
passing_reading_percentage

85.80546336482001

In [40]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_total) * 100
overall_passing_rate

65.17232575950983

In [41]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# district_summary = {'Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'}
district_summary = pd.DataFrame(columns=['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'])
district_summary

Empty DataFrame
Columns: [Total Schools, Total Students, Total Budget, Average Math Score, Average Reading Score, % Passing Math, % Passing Reading, % Overall Passing]
Index: []

In [42]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {'Total Schools' : [school_total], 'Total Students': [student_total], 'Total Budget': [total_budget], 'Average Math Score': [average_math_score], 'Average Reading Score': [average_reading_score], '% Passing Math': [passing_math_percentage], '% Passing Reading': [passing_reading_percentage], '% Overall Passing': [overall_passing_rate]}
df = pd.DataFrame(district_summary)
df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [68]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [61]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [80]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count
total_student_school = school_data_complete.groupby(['school_name']).count()["student_name"]

# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / total_student_school

# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]


# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])

# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])


# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]


# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100


# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Type": school_types, 
                                   "Total Students": total_student_school, 
                                   "Per Student Budget": per_school_capita, 
                                   "Average Math Score": per_school_math, 
                                   "Average Reading Score": per_school_reading, 
                                   "% Passing Math": school_passing_math, 
                                   "% Passing Reading": school_passing_reading, 
                                   "% Overall Passing": overall_passing_rate})


# Formatting
# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary


# school_summary_df = pd.DataFrame(school_summary)
# school_summary_df

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [78]:
school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
school_passing_math_df = pd.DataFrame(school_passing_math)

In [ ]:
school_summary = school_data_complete.groupby(['school_name'])
school_names = school_data_complete.school_name.sort_values().unique()
school_types = school_data.sort_values(by="school_name").type
school_total_students = list(school_summary.student_name.count())
school_budget = list(school_summary.budget.mean())

In [45]:
# total_df = student_data.set_index(["school_name"])["student_name"]
# total_df

In [26]:
# Calculate the total student count
# per_school_counts = total_df.groupby(["school_name"])

# per_school_total_students = per_school_counts.sum()
# per_school_total_students.head()

In [24]:
# per_school_student_number = per_school_total_students["school_name"].value_counts()
# per_school_student_number